<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>
 
<p>
  <strong>Email Address:</strong>
  <%= @student.email_address %>
</p>

<p>
  <strong>ID:</strong>
  <%= @student.id %>
</p>

<p>
  <strong>UUID:</strong>
  <%= @student.uuid %>
</p>
