<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>
 
<p>
  <strong>Email Address:</strong>
  <%= @student.email_address %>
</p>

<p>
  <strong>ID:</strong>
  <%= @student.id %>
</p>

<p>
  <strong>Unique Hash:</strong>
  <%= @student.unique_hash %>
</p>
