Hi, <%= @student.name %>. We have a problem. Rupert the Robot is being held
captive by the evil Dr. Tamale. He's locked up in a room, and the only way he
can get out is if, for any given n, he can calculate the nth Fibonacci number
in the famous
<a href="https://en.wikipedia.org/wiki/Fibonacci_number">Fibonacci series</a>.
</br>
Here's where we need your help. Rupert has an internal terminal where he
can run any source code that you provide him, but he doesn't know beans about
software. Your task is to write a function that will calculate the nth
Fibonacci number. The function signature, and a few examples, have been 
provided for you. Good luck!
